In [78]:
rakam = input("Enter number: ")
number = int (rakam[0] + rakam[1])
if number % 2 == 0:
    print("false")
else:
    print("true")

TypeError: 'str' object is not callable

## Control flow

In [36]:
#conditional control flow
age = 13
if age >= 18:
    print("you are an adult")
elif age >= 13:
    print("you are a teenager")
elif age >= 3:
    print("you are a child")
else:
    pass

#loops
for i in range(10):
    print(i)

#functions

you are a teenager
0
1
2
3
4
5
6
7
8
9

## Casting

In [ ]:
#casting   
#int to float
a = 10
b = float(a)
print(b)

#float to int
a = 10.5
b = int(a)
print(b)

#int to string

## Input

In [31]:
#input
name = input("Enter your name: ")

print("hello, " + name + "!")

hello, ahmed!

## Strings

In [28]:
name = "ahmed"
print(name)

#slicing 
print(name[0])
print(name[0:3])
print(name[0:4])
print(name[0:5])

#concatenation
last_name = "haitham"
full_name = name + " " + last_name
print(full_name)

#length
print(len(name))

#upper and lower
print(name.upper())
print(name.lower())

ahmed
a
ahm
ahme
ahmed
ahmed haitham
5
AHMED
ahmed

## Logical operators

In [23]:
#logical operators and, or, not
print(True and True)
print(True and False)
print(False and True)
print(False and False)
print(True or True)
print(True or False)
print(False or True)
print(False or False)
print(not True)
print(not False)

True
False
False
False
True
True
True
False
False
True

In [ ]:
ahmed = True
print(type(ahmed))
print (ahmed)
haitham = 10
print(type(haitham))
print(haitham)

pi = 3.14
radius = 10
area = 2 *pi * radius**2
print(area)

<class 'bool'>
True
<class 'int'>
10
628.0

## Arithmatic operators

In [21]:
# arethmatic operators +,-,*,/,%,**, //,
a = 10
b = 5


print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

15
5
50
2.0
0
100000
2