## Data structure

In [18]:
#sequential 
#non-sequential

tmp = [1,2,3,4,5, 6, 7, 8, 9, 10, 1, 75]
print(tmp[10:12])

# modify element
tmp[-2] = 100
print(tmp)

# append element
tmp.append(100)
print(tmp)

# remove element
tmp.remove(100)
print(tmp)

# insert element
tmp.insert(0, 100)
print(tmp)

# pop element
tmp.pop()
print(tmp)

# extend element
tmp.extend([11, 12, 13, 14, 15])
print(tmp)

# sort element only if all elements are numbers
tmp.sort()
print(tmp)

# reverse element
tmp.reverse()
print(tmp)

# misc
print(len(tmp))
print(tmp.count(100))
print(tmp.index(100))
print(tmp.count(100))
print(tmp.count(100))


# deep copy
tmp2 = tmp.copy()
print(tmp2)

# shallow copy
tmp3 = tmp
print(tmp3)

[1, 75]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 75]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 75, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 75, 100]
[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 75, 100]
[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 75]
[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 75, 11, 12, 13, 14, 15]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 75, 100]
[100, 75, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
17
1
0
1
1
[100, 75, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[100, 75, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Problem 1

In [25]:
from math import ceil
# input
num = int(input("Enter a number: "))

if num % 2 == 0:
    half1 = int(num / 2)
else:
    half1 = int(ceil(num / 2))

half2 = num - half1

list = [half1, half2]
list.sort()

print(list)

[-5, -4]

## Tuple

In [ ]:
# similar to list, cannot be modified
tmp = (1, 2, 3, 4, 5)
print(tmp[0])
print(tmp[1])

1
2

## Non-Sequential (Dictionary)

In [ ]:
# dictionary
# key can be either string or number
# value can be any type

tmp = {
    "name": "John",
    "age": 20,
    "city": "New York"
}

print(tmp["name"])
print(tmp["age"])
print(tmp["city"])

# append element
tmp["gender"] = "male"
print(tmp)

# remove element
tmp.pop("gender")
print(tmp)

# get element
print(tmp.get("gender"))


tmp.setdefault("gender", "male")







# dictionary with list

John
20
New York
{'name': 'John', 'age': 20, 'city': 'New York', 'gender': 'male'}
{'name': 'John', 'age': 20, 'city': 'New York'}
None
{}
{}

## Sets

In [ ]:
# automaticly remove duplicate elements
numbers = {1, 2, 3, 4, 5, 4}

print(numbers)
print(type(numbers))

# add element
numbers.add(6)
print(numbers)

# remove element
numbers.remove(6)
print(numbers)

{1, 2, 3, 4, 5}
<class 'set'>
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}